* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family :'Poppins', sans-serif;
  overflow: hidden;
}

:root {
  --btcolor:#EAEFF1;
  --bthovercolor:#7AD4F8;
  --bgorder:#F6F6F6;
  --bgsuccessorder:#EAEFF1;
}

body {
  height: 100vh;
}