.header {
  margin: 20px;
  border-radius: 200px;
  margin: 20px 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}



.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  font-size: 1.3rem;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background: var(--btcolor);
  width: 140px;
  max-height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
  transition: 0.3s;
}

.navbar a:hover {
  background: var(--bthovercolor);
}
.footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
  margin-top: 0;
  transform: translateY(5.6in);
}

.footer .cart-add {
  background:	#696969;
  padding: 12px; 
  margin-top: 0;
  border-radius: 15px;
}
.header .navbar .material-symbols-outlined {
  margin-top: 20px;
}

.footer .cart-add .material-symbols-outlined {
  font-size: 29px;
  color: white;
}

.menucoffee {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header-card img {
  width: 15;
  height: 170px;
  border-radius: 20px;
}

.body-card p{
  font-size: 1.3rem;
}

